---
import { Image } from "astro:assets"

interface Props {
  srcs: ImageMetadata[]
  speed?: "slow" | "normal" | "fast"
}

const { srcs, speed } = Astro.props

const carouselAnimationSpeed =
  speed === "slow" ? "20s" : speed === "fast" ? "10s" : "15s"
---

<div
  class="[--carousel-gradient-direction:90deg] lg:[--carousel-gradient-direction:180deg] lg:w-[10rem] max-lg:h-[10rem] overflow-hidden [-webkit-mask:linear-gradient(var(--carousel-gradient-direction),transparent,white_20%,white_80%,transparent)] [mask:linear-gradient(var(--carousel-gradient-direction),transparent,white_20%,white_80%,transparent)]"
>
  <div
    style={`--carousel-animation-speed: ${carouselAnimationSpeed}`}
    class="flex lg:flex-col gap-4 lg:animate-[verticalScroll_var(--carousel-animation-speed)_forwards_linear_infinite] max-lg:animate-[horizontalScroll_var(--carousel-animation-speed)_forwards_linear_infinite] max-lg:w-max"
  >
    {
      srcs.map((src) => (
        <Image
          src={src}
          alt=""
          class="object-cover w-full lg:h-[200px] max-lg:h-[10rem]"
        />
      ))
    }
    {
      srcs.map((src) => (
        <Image
          src={src}
          alt=""
          aria-hidden="true"
          class="object-cover w-full lg:h-[200px] max-lg:h-[10rem]"
        />
      ))
    }
  </div>
</div>
