---
interface Props {
  name: string
  message: string
  rating: 1 | 2 | 3 | 4 | 5
  item: `/items/${string}.jpg`
}

const { name, message, rating, item } = Astro.props
---

<div class="space-y-6 p-4 border rounded-md shadow-lg">
  <div class="flex justify-between">
    <div class="flex gap-4">
      <img
        src="/default_avatar.png"
        alt="User Avatar"
        class="border rounded-full h-12 w-12 sm:h-[75px] sm:w-[75px]"
      />
      <div class="flex flex-col justify-center sm:gap-1">
        <h5>{name}</h5>
        <div class="flex gap-0.5">
          <svg
            class="h-4 w-4 sm:h-6 sm:w-6"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style={rating >= 1 ? "display: block;" : "display: none;"}
          >
            <path
              d="M24.9685 9.93265C24.9191 9.77347 24.8202 9.63423 24.6861 9.53527C24.552 9.43632 24.3898 9.38283 24.2231 9.38264H15.8619L13.254 0.566728C13.2076 0.403177 13.1091 0.259232 12.9735 0.156734C12.8378 0.0542357 12.6724 -0.0012207 12.5024 -0.0012207C12.3324 -0.0012207 12.1671 0.0542357 12.0314 0.156734C11.8958 0.259232 11.7973 0.403177 11.7509 0.566728L9.14139 9.38264H0.772373C0.60665 9.38452 0.445821 9.43906 0.313134 9.53837C0.180448 9.63768 0.0827801 9.77661 0.034248 9.93508C-0.0142841 10.0935 -0.0111652 10.2633 0.043154 10.4199C0.0974732 10.5765 0.200178 10.7117 0.336422 10.8061L7.06945 15.6063L4.72563 23.9315C4.66491 24.0861 4.65501 24.2559 4.69736 24.4165C4.73971 24.577 4.83211 24.7199 4.96115 24.8244C5.09019 24.9289 5.24916 24.9895 5.41501 24.9976C5.58085 25.0056 5.74494 24.9606 5.88348 24.8691L12.4946 20.283L19.0808 24.8691C19.2193 24.9619 19.3839 25.008 19.5504 25.0005C19.717 24.9931 19.8768 24.9326 20.0065 24.8279C20.1363 24.7231 20.2291 24.5796 20.2714 24.4183C20.3137 24.2571 20.3033 24.0865 20.2417 23.9315L17.9229 15.6063L24.6513 10.803C24.7901 10.7107 24.8957 10.5765 24.9528 10.4199C25.0098 10.2633 25.0153 10.0926 24.9685 9.93265Z"
              class="fill-primary"></path>
          </svg>
          <svg
            class="h-4 w-4 sm:h-6 sm:w-6"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style={rating >= 2 ? "display: block;" : "display: none;"}
          >
            <path
              d="M24.9685 9.93265C24.9191 9.77347 24.8202 9.63423 24.6861 9.53527C24.552 9.43632 24.3898 9.38283 24.2231 9.38264H15.8619L13.254 0.566728C13.2076 0.403177 13.1091 0.259232 12.9735 0.156734C12.8378 0.0542357 12.6724 -0.0012207 12.5024 -0.0012207C12.3324 -0.0012207 12.1671 0.0542357 12.0314 0.156734C11.8958 0.259232 11.7973 0.403177 11.7509 0.566728L9.14139 9.38264H0.772373C0.60665 9.38452 0.445821 9.43906 0.313134 9.53837C0.180448 9.63768 0.0827801 9.77661 0.034248 9.93508C-0.0142841 10.0935 -0.0111652 10.2633 0.043154 10.4199C0.0974732 10.5765 0.200178 10.7117 0.336422 10.8061L7.06945 15.6063L4.72563 23.9315C4.66491 24.0861 4.65501 24.2559 4.69736 24.4165C4.73971 24.577 4.83211 24.7199 4.96115 24.8244C5.09019 24.9289 5.24916 24.9895 5.41501 24.9976C5.58085 25.0056 5.74494 24.9606 5.88348 24.8691L12.4946 20.283L19.0808 24.8691C19.2193 24.9619 19.3839 25.008 19.5504 25.0005C19.717 24.9931 19.8768 24.9326 20.0065 24.8279C20.1363 24.7231 20.2291 24.5796 20.2714 24.4183C20.3137 24.2571 20.3033 24.0865 20.2417 23.9315L17.9229 15.6063L24.6513 10.803C24.7901 10.7107 24.8957 10.5765 24.9528 10.4199C25.0098 10.2633 25.0153 10.0926 24.9685 9.93265Z"
              class="fill-primary"></path>
          </svg>
          <svg
            class="h-4 w-4 sm:h-6 sm:w-6"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style={rating >= 3 ? "display: block;" : "display: none;"}
          >
            <path
              d="M24.9685 9.93265C24.9191 9.77347 24.8202 9.63423 24.6861 9.53527C24.552 9.43632 24.3898 9.38283 24.2231 9.38264H15.8619L13.254 0.566728C13.2076 0.403177 13.1091 0.259232 12.9735 0.156734C12.8378 0.0542357 12.6724 -0.0012207 12.5024 -0.0012207C12.3324 -0.0012207 12.1671 0.0542357 12.0314 0.156734C11.8958 0.259232 11.7973 0.403177 11.7509 0.566728L9.14139 9.38264H0.772373C0.60665 9.38452 0.445821 9.43906 0.313134 9.53837C0.180448 9.63768 0.0827801 9.77661 0.034248 9.93508C-0.0142841 10.0935 -0.0111652 10.2633 0.043154 10.4199C0.0974732 10.5765 0.200178 10.7117 0.336422 10.8061L7.06945 15.6063L4.72563 23.9315C4.66491 24.0861 4.65501 24.2559 4.69736 24.4165C4.73971 24.577 4.83211 24.7199 4.96115 24.8244C5.09019 24.9289 5.24916 24.9895 5.41501 24.9976C5.58085 25.0056 5.74494 24.9606 5.88348 24.8691L12.4946 20.283L19.0808 24.8691C19.2193 24.9619 19.3839 25.008 19.5504 25.0005C19.717 24.9931 19.8768 24.9326 20.0065 24.8279C20.1363 24.7231 20.2291 24.5796 20.2714 24.4183C20.3137 24.2571 20.3033 24.0865 20.2417 23.9315L17.9229 15.6063L24.6513 10.803C24.7901 10.7107 24.8957 10.5765 24.9528 10.4199C25.0098 10.2633 25.0153 10.0926 24.9685 9.93265Z"
              class="fill-primary"></path>
          </svg>
          <svg
            class="h-4 w-4 sm:h-6 sm:w-6"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style={rating >= 4 ? "display: block;" : "display: none;"}
          >
            <path
              d="M24.9685 9.93265C24.9191 9.77347 24.8202 9.63423 24.6861 9.53527C24.552 9.43632 24.3898 9.38283 24.2231 9.38264H15.8619L13.254 0.566728C13.2076 0.403177 13.1091 0.259232 12.9735 0.156734C12.8378 0.0542357 12.6724 -0.0012207 12.5024 -0.0012207C12.3324 -0.0012207 12.1671 0.0542357 12.0314 0.156734C11.8958 0.259232 11.7973 0.403177 11.7509 0.566728L9.14139 9.38264H0.772373C0.60665 9.38452 0.445821 9.43906 0.313134 9.53837C0.180448 9.63768 0.0827801 9.77661 0.034248 9.93508C-0.0142841 10.0935 -0.0111652 10.2633 0.043154 10.4199C0.0974732 10.5765 0.200178 10.7117 0.336422 10.8061L7.06945 15.6063L4.72563 23.9315C4.66491 24.0861 4.65501 24.2559 4.69736 24.4165C4.73971 24.577 4.83211 24.7199 4.96115 24.8244C5.09019 24.9289 5.24916 24.9895 5.41501 24.9976C5.58085 25.0056 5.74494 24.9606 5.88348 24.8691L12.4946 20.283L19.0808 24.8691C19.2193 24.9619 19.3839 25.008 19.5504 25.0005C19.717 24.9931 19.8768 24.9326 20.0065 24.8279C20.1363 24.7231 20.2291 24.5796 20.2714 24.4183C20.3137 24.2571 20.3033 24.0865 20.2417 23.9315L17.9229 15.6063L24.6513 10.803C24.7901 10.7107 24.8957 10.5765 24.9528 10.4199C25.0098 10.2633 25.0153 10.0926 24.9685 9.93265Z"
              class="fill-primary"></path>
          </svg>
          <svg
            class="h-4 w-4 sm:h-6 sm:w-6"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style={rating >= 5 ? "display: block;" : "display: none;"}
          >
            <path
              d="M24.9685 9.93265C24.9191 9.77347 24.8202 9.63423 24.6861 9.53527C24.552 9.43632 24.3898 9.38283 24.2231 9.38264H15.8619L13.254 0.566728C13.2076 0.403177 13.1091 0.259232 12.9735 0.156734C12.8378 0.0542357 12.6724 -0.0012207 12.5024 -0.0012207C12.3324 -0.0012207 12.1671 0.0542357 12.0314 0.156734C11.8958 0.259232 11.7973 0.403177 11.7509 0.566728L9.14139 9.38264H0.772373C0.60665 9.38452 0.445821 9.43906 0.313134 9.53837C0.180448 9.63768 0.0827801 9.77661 0.034248 9.93508C-0.0142841 10.0935 -0.0111652 10.2633 0.043154 10.4199C0.0974732 10.5765 0.200178 10.7117 0.336422 10.8061L7.06945 15.6063L4.72563 23.9315C4.66491 24.0861 4.65501 24.2559 4.69736 24.4165C4.73971 24.577 4.83211 24.7199 4.96115 24.8244C5.09019 24.9289 5.24916 24.9895 5.41501 24.9976C5.58085 25.0056 5.74494 24.9606 5.88348 24.8691L12.4946 20.283L19.0808 24.8691C19.2193 24.9619 19.3839 25.008 19.5504 25.0005C19.717 24.9931 19.8768 24.9326 20.0065 24.8279C20.1363 24.7231 20.2291 24.5796 20.2714 24.4183C20.3137 24.2571 20.3033 24.0865 20.2417 23.9315L17.9229 15.6063L24.6513 10.803C24.7901 10.7107 24.8957 10.5765 24.9528 10.4199C25.0098 10.2633 25.0153 10.0926 24.9685 9.93265Z"
              class="fill-primary"></path>
          </svg>
        </div>
      </div>
    </div>
    <img
      src={item}
      alt="Item Bought"
      class="h-12 w-12 sm:h-[75px] sm:w-[75px]"
    />
  </div>
  <p>"{message}"</p>
</div>
